<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awe.mapper.EventMapper">
    <insert id="eventInfoRegis"  parameterType="EventInfoDO">
        insert into `event_participator` (event_id,real_name,gender,height,birthday,final_education
        ,birthplace,residence,visaType,occupation,annualIncome,maritalStatus,wechatNum,phoneNum
        ,nuisance,selfIntroduction,requirement,create_by,create_time) values (#{eventNum},#{realName},#{gender},#{height}
        ,NOW(),#{finalEducation},#{birthplace},#{residence},#{visaType},#{occupation},#{annualIncome},#{maritalStatus}
        ,#{wechatNum},#{phoneNum},#{nuisance},#{selfIntroduction},#{requirement},#{createBy},#{createTime});
    </insert>

    <update id="connectToUserTable" >
        update `sys_user` set event_id=#{eventNm}, update_by=#{userName} , update_time=#{updateTime}
        where user_name = #{userName}
    </update>
</mapper>